@font-face
  font-family: vazir
  src: url('/font/vazir/vazir.eot')
  src: url('/font/vazir/vazir.eot?#iefix') format('embedded-opentype'), url('/font/vazir/vazir.woff2') format('woff2'), url('/font/vazir/vazir.woff') format('woff'), url('/font/vazir/vazir.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: vazir
  src: url('/font/vazir/vazir-Bold.eot')
  src: url('/font/vazir/vazir-Bold.eot?#iefix') format('embedded-opentype'), url('/font/vazir/vazir-Bold.woff2') format('woff2'), url('/font/vazir/vazir-Bold.woff') format('woff'), url('/font/vazir/vazir-Bold.ttf') format('truetype')
  font-weight: bold
  font-style: normal

// Switch primary and success color. Our theme is green on white!
$primary: hsl(141, 71%, 48%)
$success: hsl(171, 100%, 41%)
// Nice font, both in English and Persion. https://github.com/rastikerdar/vazir-font
$family-sans-serif: vazir

div#home
  background: url('/img/header.jpg')
  background-size: cover

@import 'bulma'

